img{
    float:left;
    shape-outside:circle(50%);
    width: 200px;
    height: 200px;
    border: 2px solid red;
    background-color: rgba(108, 107, 107);
    padding: 5px;
    animation: mymove 5s infinite;
    cursor: pointer;

}
@keyframes mymove{
    50%{
        border-bottom-right-radius: 50%;
    }
}
img:hover{
    transform: scaleX(-1);
}
p{
    color:red;
}
/* Map css*/
.map{
   width: 500px;
   height: 500px;
   background-color: #333;
}

[class*="copyrights-pane"] {
   display: none !important;
}

[class*="ground-pane"] {
   filter: grayscale(1);
}

.balloon__address {
   color: yellow;
}

.balloon a {
   color:red;
}
